:root {
    --rosewater : #D8A7B1;
    --spearmint : #B6E2D3;
    --cream     : #FAE8E0;
    --hotpink   : #EF7C8E;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

            font-size: 16px;
}

*,
*:before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    background-image: -webkit-linear-gradient(180deg,#ffc19e, #ffc3cd) ;
    font-size: clamp(1em, 2.5vw, 1.5em)
}


/**/

.label {
    display: flex;
    flex-direction: column;
}


.label img {
    display: none;
    height: 8em;
}

.label h1 {
    font-family: 'Cookie', cursive;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.label div:nth-child(3) {
    display: flex;
    padding: 0 5em;
    justify-content: space-around;
}

.label div:nth-child(3) button {
    padding: 1em;
}

.btn {
    width: 5em;
    margin-right: 1em;
    text-transform: capitalize;
}

.btn-add {
    color: white;
    background-image: -webkit-linear-gradient(270deg, var(--rosewater) 58%, var(--hotpink));
    border-radius: 10px;
    border-color: rgb(252, 86, 122);
}

.btn-details {
    color: white;
    background-image: -webkit-linear-gradient(270deg, var(--rosewater) 58%, var(--hotpink));
    border-radius: 10px;
    border-color: rgb(252, 86, 122); 
}

@media only screen and (min-width: 640px) {
    .label {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .label img {
        display: block;
        height: 8em;
        margin-left: 2em;
    }

    .label div:nth-child(2) {
        align-self: center;
    }

    .label > div:nth-child(2) {
        margin-left: 2em;
    }

    .label div:nth-child(3) {
        padding: 0;
        align-items: center;
    }

    .label div:nth-child(3) button {
        padding: 1em;
    }
    .btn {
        margin-left: 2em;
    }
}

/**/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal {
    display: none;
    position: fixed;
    width: 20em ; 
    height: 25em;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 5px solid var(--hotpink);
    padding-top: .5em;
    z-index: 2;
}

.modal button {
    position: absolute;
    background-color: transparent ;
    right: 4%;
    top: 5%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    border: none;
    text-indent: 5em;
    overflow: hidden;
}

.modal button::after {
    content: "\00d7";
    position: absolute;
    left: 29%;
    top: 8%;
    font-size: 1.5em;
    text-indent: 0;
}

.modal-add h2 {
    text-align: center;
}

.modal-add label {
    display: block;
    padding-left: 1em;
}

.modal-add input {
    display: block;
    margin:  .5em auto .5em ;
}

.modal-add input[type='submit'] {
    padding: 1em 5em;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    background-image: -webkit-linear-gradient(180deg,#ffc19e, #ffc3cd);
    border-radius: 50px;

    cursor: pointer;
}

.missing-message {
    position: absolute;
    visibility: hidden;
    width: 6em;
    height: 2em;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    padding: .3em;
}

div[data-0] {
    right: -15%;
    top: 24%;
}

div[data-1] {
    right: -15%;
    top: 38%;
}

div[data-2] {
    right: -15%;
    top: 53%;
}

div[data-3] {
    right: -15%;
    top: 67%;
}

/**/ 

.grid-layout {
    max-width: 90%;
    margin: auto;
    box-shadow: inset 5px 5px 15px  white,
                inset -5px -5px 15px white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 13em));
    grid-auto-rows: 15em;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;

}

@media only screen and (max-width: 640px) {
    .grid-layout {
        margin-top : 1em;
    }
}

.grid-child {
    display: flex;
    flex-direction: column;
    background-image: -webkit-linear-gradient(90deg, rgb(248, 248, 248) 50%, rgb(114, 221, 240));
    border-radius: 50px;
    width: 80%;
    height: 80%;
    border: 3px solid rgb(26, 110, 136);
    box-shadow: 2px 2px 10px rgb(9, 139, 139);
}

.grid-child .upper{
    flex: 75%;
}

.grid-child .lower{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
    flex: 25%;
}

.lower img {
    width: 1.8em;
    height: 1em;
}

.up,
.down {
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.down img {
    transform: rotate(180deg);
}

.grid-child h3 {
    margin-bottom: .2em;
    padding: 0 0.3em;
    text-align: center;
    word-break: break-all;
    text-decoration: underline;
}

.grid-child p.author {
    margin-top: 0.2em;
    padding-left: 0.5em;
    text-transform: capitalize;
}

.grid-child p.read {
    text-align: center;
}


/**/
.add {
    background-image: -webkit-linear-gradient(90deg, rgb(248, 248, 248) 50%, rgb(114, 221, 240));
    border-radius: 50px;
    width: 80%;
    height: 80%;
    border: 3px solid rgb(26, 110, 136);
    box-shadow: 2px 2px 10px rgb(9, 139, 139);
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    display: flex;
    justify-content: center;
}
.add img {
    width: 5em;
    height: 5em;
    margin-left: -1.1em;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.add img:hover {
    transform: translateX(-.7em) scale(2);
}

